
<html>
<head>
	<link href="~/css/portfolio.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

	<nav class="navbar">
		<div class="nav-center">
			<div class="nav-header">
				<a asp-controller="Home" asp-action="StaticSites" asp-route-name="Index">
					<img src="~/assets/keyboard-254582_1280.jpg"/>
				</a>
				<button type="button" class="nav-btn btn" onclick="Show()">
					<i class="fa-solid fa-bars"></i>
				</button>

			</div>
			<div class="nav-links">
				<a class="nav-link" asp-controller="Home" asp-action="StaticSites" asp-route-name="Omnie">O mnie</a>
				<a class="nav-link" asp-controller="Home" asp-action="StaticSites" asp-route-name="CV">Curriculum Vitae</a>
				<a class="nav-link" asp-controller="Home" asp-action="StaticSites" asp-route-name="Projekty">Projekty</a>
				<div class="nav-link contact-link">
					<a class="btn" asp-controller="Home" asp-action="StaticSites" asp-route-name="Kontakt">Kontakt</a>
				</div>
			</div>
		</div>
	</nav>

	<main class="main-page">

	@RenderBody()
	</main>

	<footer class="footer-page">
		🧊 Strona wykonana przez Adriannę Piszcz 🧊
	</footer>

	<script src="~/js/site.js"></script>
</body>
</html>