
    <div class="cv-container">
        <h1>Małgorzata Kowalska</h1>
        <p class="first-p">
        <span>Ur.: 23.10.1986</span>
        <span>1 Maja 32/4, 02-495 Warszawa</span>
        <span> <a href="mailto:m.kowalska@poczta.net">m.kowalska@poczta.net</a></span>
        <span>   667 324 322</span>
        </p>

        <h2>Cel zawodowy</h2>
        <p>Ambitna praca na stanowisku grafika komputerowego umożliwiająca podnoszenie kwalifikacji</p>

        <h2>Wykształcenie</h2>
        <table>
            <tr>
                <td>1990 - 1992</td>
                <td>XIV LO im. Stanisława Staszica w Warszawie</td>
            </tr>
            <tr>
                <td>12.1990 - nadal</td>
                <td>Politechnika Warszawska<br>Kierunek: informatyka</td>
            </tr>
        </table>

        <h2>Doświadczenie</h2>
        <table>
            <tr>
                <td>12.1990 - 03.1992</td>
                <td>
                    <strong>Pakunki Design S.A.</strong><br>
                    Starszy przedstawiciel ds. kluczowych klientów<br>
                    Awans ze stanowiska młodszego przedstawiciela ds. kluczowych klientów po siedmiu miesiącach pracy
                </td>
            </tr>
            <tr>
                <td>05.1992 - nadal</td>
                <td>
                    <strong>ABC Marketing</strong><br>
                    Grafik komputerowy<br>
                    Praca z projektantami i dyrektorami artystycznymi przy tworzeniu koncepcji projektów
                </td>
            </tr>
        </table>

        <h2>Umiejętności</h2>
        <p>
            obsługa komputera - znajomość pakietu MS Office, znajomość pakietu Adobe (Photoshop, Illustrator), znajomość oprogramowania Blender<br>
            Sztuka Negocjacji - szkolenie zewnętrzne
        </p>

        <h2>Języki</h2>
        <p>angielski - zaawansowany (FCE), niemiecki - średnio-zaawansowany</p>

        <h2>Certyfikaty i uprawnienia</h2>
        <p>Prawo jazdy kat. B (12.1990)<br>Aktualne przeszkolenie z zakresu BHP</p>

        <h2>Hobby</h2>
        <p>Fotografia, wspinaczki górskie</p>

        <footer>
            Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu rekrutacji zgodnie z Ustawą z dn. 29.08.97 roku o Ochronie Danych Osobowych Dz. Ust. nr 133 poz.883.
        </footer>
    </div>

