
@{
	// nazwa
	// obrazek
	// dłuższy opis
	// technologie
}

<div class="projects">
	<div class="project">
		<h2>Nazwa projektu</h2>
		<img src="https://cdn.pixabay.com/photo/2021/12/08/19/34/laptop-6856557_1280.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tempus nisl. Etiam fringilla dictum euismod. Nullam nec tellus vitae orci congue pharetra. Etiam vitae enim id ante rhoncus.</p>
		<p> 
		<i> #HTML </i>
		<i> #CSS </i>
		<i> #JS </i>
		</p>
	</div>
	<div class="project">
		<h2>Nazwa projektu</h2>
		<img src="https://cdn.pixabay.com/photo/2021/12/08/19/34/laptop-6856557_1280.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tempus nisl. Etiam fringilla dictum euismod. Nullam nec tellus vitae orci congue pharetra. Etiam vitae enim id ante rhoncus.</p>
		<p> 
		<i> #HTML </i>
		<i> #CSS </i>
		<i> #JS </i>
		</p>
	</div>
	<div class="project">
		<h2>Nazwa projektu</h2>
		<img src="https://cdn.pixabay.com/photo/2021/12/08/19/34/laptop-6856557_1280.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tempus nisl. Etiam fringilla dictum euismod. Nullam nec tellus vitae orci congue pharetra. Etiam vitae enim id ante rhoncus.</p>
		<p> 
		<i> #HTML </i>
		<i> #CSS </i>
		<i> #JS </i>
		</p>
	</div>
	<div class="project">
		<h2>Nazwa projektu</h2>
		<img src="https://cdn.pixabay.com/photo/2021/12/08/19/34/laptop-6856557_1280.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tempus nisl. Etiam fringilla dictum euismod. Nullam nec tellus vitae orci congue pharetra. Etiam vitae enim id ante rhoncus.</p>
		<p> 
		<i> #HTML </i>
		<i> #CSS </i>
		<i> #JS </i>
		</p>
	</div>
	<div class="project">
		<h2>Nazwa projektu</h2>
		<img src="https://cdn.pixabay.com/photo/2021/12/08/19/34/laptop-6856557_1280.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tempus nisl. Etiam fringilla dictum euismod. Nullam nec tellus vitae orci congue pharetra. Etiam vitae enim id ante rhoncus.</p>
		<p> 
		<i> #HTML </i>
		<i> #CSS </i>
		<i> #JS </i>
		</p>
	</div>
	<div class="project">
		<h2>Nazwa projektu</h2>
		<img src="https://cdn.pixabay.com/photo/2021/12/08/19/34/laptop-6856557_1280.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tempus nisl. Etiam fringilla dictum euismod. Nullam nec tellus vitae orci congue pharetra. Etiam vitae enim id ante rhoncus.</p>
		<p> 
		<i> #HTML </i>
		<i> #CSS </i>
		<i> #JS </i>
		</p>
	</div>
	<div class="project">
		<h2>Nazwa projektu</h2>
		<img src="https://cdn.pixabay.com/photo/2021/12/08/19/34/laptop-6856557_1280.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tempus nisl. Etiam fringilla dictum euismod. Nullam nec tellus vitae orci congue pharetra. Etiam vitae enim id ante rhoncus.</p>
		<p> 
		<i> #HTML </i>
		<i> #CSS </i>
		<i> #JS </i>
		</p>
	</div>
	<div class="project">
		<h2>Nazwa projektu</h2>
		<img src="https://cdn.pixabay.com/photo/2021/12/08/19/34/laptop-6856557_1280.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tempus nisl. Etiam fringilla dictum euismod. Nullam nec tellus vitae orci congue pharetra. Etiam vitae enim id ante rhoncus.</p>
		<p> 
		<i> #HTML </i>
		<i> #CSS </i>
		<i> #JS </i>
		</p>
	</div>
	<div class="project">
		<h2>Nazwa projektu</h2>
		<img src="https://cdn.pixabay.com/photo/2021/12/08/19/34/laptop-6856557_1280.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tempus nisl. Etiam fringilla dictum euismod. Nullam nec tellus vitae orci congue pharetra. Etiam vitae enim id ante rhoncus.</p>
		<p> 
		<i> #HTML </i>
		<i> #CSS </i>
		<i> #JS </i>
		</p>
	</div>
	<div class="project">
		<h2>Nazwa projektu</h2>
		<img src="https://cdn.pixabay.com/photo/2021/12/08/19/34/laptop-6856557_1280.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tempus nisl. Etiam fringilla dictum euismod. Nullam nec tellus vitae orci congue pharetra. Etiam vitae enim id ante rhoncus.</p>
		<p> 
		<i> #HTML </i>
		<i> #CSS </i>
		<i> #JS </i>
		</p>
	</div>
	<div class="project">
		<h2>Nazwa projektu</h2>
		<img src="https://cdn.pixabay.com/photo/2021/12/08/19/34/laptop-6856557_1280.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tempus nisl. Etiam fringilla dictum euismod. Nullam nec tellus vitae orci congue pharetra. Etiam vitae enim id ante rhoncus.</p>
		<p> 
		<i> #HTML </i>
		<i> #CSS </i>
		<i> #JS </i>
		</p>
	</div>
	<div class="project">
		<h2>Nazwa projektu</h2>
		<img src="https://cdn.pixabay.com/photo/2021/12/08/19/34/laptop-6856557_1280.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tempus nisl. Etiam fringilla dictum euismod. Nullam nec tellus vitae orci congue pharetra. Etiam vitae enim id ante rhoncus.</p>
		<p> 
		<i> #HTML </i>
		<i> #CSS </i>
		<i> #JS </i>
		</p>
	</div>


</div>